*/target
target
*.rlib
**/Cargo.lock
.vscode
.idea

# ignore all files in test/project/lib/, except the .gitkeep as the directory should still be there
test/project/lib/*
!test/project/lib/.gitkeep

**/.import/*

#os specific
.DS_Store
