[package]
name = "gdnative-bindings"
authors = ["The godot-rust developers"]
description = "The Godot game engine's automatcally generated bindings to Godot classes."
documentation = "https://docs.rs/crate/gdnative-bindings"
repository = "https://github.com/godot-rust/godot-rust"
homepage = "https://godot-rust.github.io/"
version = "0.9.3"
license = "MIT"
workspace = ".."
edition = "2018"

[features]
formatted = []
one_class_one_file = []

[dependencies]
gdnative-sys = { path = "../gdnative-sys", version = "0.9.3" }
gdnative-core = { path = "../gdnative-core", version = "=0.9.3" }
libc = "0.2.104"
bitflags = "1.3.2"

[build-dependencies]
heck = "0.4.0"
gdnative_bindings_generator = { path = "../bindings_generator", version = "=0.9.3" }
